{{#if canActivateDonations}}
  <div class="panel panel--highlighted">
    <div class="panel__section">
      <div class="panel__section__description">
        <h3>Ready for donations?</h3>
      </div>

      <section class="panel__section__content">
        <p>You've added goals. Just say the word and start accepting donations now.</p>
        <button class="default activate-donations" {{action (action activateDonations)}}>Turn on donations</button>
      </section>
    </div>
  </div>
{{/if}}
